<div class="card">
    <div class="card-body">
        <form [formGroup] = "addForm" (ngSubmit) = "onSubmit()">
            <div class="form-group">
                <label class="col-md-4">Product Name</label>
                <input type="text" class="form-control" formControlName = "productName" />
            </div>
            <!-- <div class="form-group">
                <label class="col-md-4">Product Description</label>
                <input type="text" class="form-control" formControlName="productDescription" />
            </div> -->
            <div class="form-group">
                <label class="col-md-4">Product price</label>
                <input type="text" class="form-control" formControlName = "productPrice" />
            </div>
            <div class="form-group">
                <button type="submit" [disabled] = "addForm.pristine || addForm.invalid" class="btn  btn-primary">Create Product</button>
            </div>
        </form>
    </div>
</div>
