<div>
  <h1>AppComponent</h1> 
  <!-- <app-login></app-login>
  <app-home></app-home> -->

  <!-- One way DataBinding -->
  <h1>DataBinding</h1>
  <p>Default value is {{title}}</p>

  <h1>Binding to events</h1>
  <button (click) = "buttonClick()">Click</button>
  <input type="text" [value] = "updateTitle">
  <p>{{updateTitle}}</p>

  <!-- Two way dataBinding -->
  <h1>Two way DataBinding</h1>
  <button (click) = "buttonClick()">Click</button>
  <input type="text" [(ngModel)]="updateTitle">
  <p>{{updateTitle}}</p>

  
</div>